<EditForm Model="client" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="client.Name" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <InputText id="surname" @bind-Value="client.Surname" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="mail">Email</label>
        <InputText id="mail" @bind-Value="client.Email" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public Client client { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
