@page "/orders/new"
@inject IOrderService service
@inject NavigationManager manager

<PageTitle>New order</PageTitle>

<h3>Create order</h3>

@if (order is not null)
{
    @if (message is not null)
    {
        <p class="alert alert-danger">Error: @message</p>
    }

    <OrderForm order="order" OnValidSubmit="HandleSubmit" />
}

@code {
    private Order order = new Order() { Status = OrderStatus.New, Lines = new List<OrderLine>() };
    private String? message = null;

    public async Task HandleSubmit()
    {
        var response = await service.CreateOrderAsync(order);

        if (!response.Success)
        {
            message = response.Message ?? "Failed to create order.";
            return;
        }

        manager.NavigateTo("/orders");
    }
}
